.section {
  margin-top: 2vh;
  padding-top: 1vh;
  background-color: rgb(255, 255, 255);
}

.title {
  margin-left: 2vh;
}

.sobre {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 4.5vh;
  border-bottom-left-radius: 4.5vh;
  margin-left: 5vh;
  padding: 5vh;
}

.model {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.about-block {
  display: grid;
  flex-direction: column;
  text-align: center;
  gap: 8vh;
}

.about-block h2 {
  border: 1px solid;
  padding: 2vh;
  color: #000;
  background-color: #A56C60;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.329);
}

.comentarios {
  display: flex;
  flex-direction: column;
  margin-right: 5vh;
  margin-top: 2vh;
  padding: 3vh;
}

.title-comments {
  margin-right: 2vh;
  padding: 2vh;
  align-self: flex-end;
}

.contato {
  background: url("/background.jpg") no-repeat center;
  background-size: 100% 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5vh;
  padding-top: 19vh;
  padding-bottom: 25vh;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}

.contato h1{
  align-self: center;
  text-align: center;
  width: 60%;
  line-height: 12vh;
}

.message-block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2vh;
  border: 2px solid black;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.271);
  background-color: #D9D9D9;
  width: 24%;
  height: fit-content;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 2vh;
  padding: 1vh;
  text-align: center;
}

.input-section input {
  box-sizing: border-box;
  background: #D9D9D9;
  height: 5vh;
  font-size: 3vh;
  padding: 1vh;
  font-family: 'kurale', sans-serif;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-section textarea {
  box-sizing: border-box;
  background: #D9D9D9;
  height: 14vh;
  min-width: 100%;
  min-height: min-content;
  max-width: 100%;
  max-height: 25vh;
  font-size: 3vh;
  padding: 1vh;
  font-family: 'kurale', sans-serif;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

textarea::-webkit-scrollbar {
  width: 10px;
  background-color: #00000000;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  cursor: pointer;
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

textarea::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

.input-section button {
  box-sizing: border-box;
  background: #D9D9D9;
  height: 5vh;
  font-size: 3vh;
  cursor: pointer;
  font-family: 'kurale', sans-serif;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.message-block p {
  align-self: center;
  padding: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  color: #ffffff;
  font-size: 3vh;
  border-radius: 5px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.23);
  background-color: #A56C60;
  cursor: pointer;
}

.message-block h3 {
  color: #000000;
  font-size: 1.5vh;
  margin-top: 5%;
  align-self: center;
}